<div class="container">
  <div class="row" style="padding-bottom: 2em;">
    <div class="col-md-12 ">
	<h1>Editar Persona</h1>

	<%= render 'form' %>


	 </div>
	 <div class="col-sm-12" style="margin-top: 1em;">
	 	
	<%= link_to 'Ver', @person %> |
	<%= link_to 'Regresar', people_path %>
	 </div>
  </div>
</div>

