<div class="container" style="margin-top:1em;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<h2>Editar Usuario</h2>
<p class="m-b">Nota: En esta seccion las contraseña nunca va aparecer, solo estan habilitados los campos para actualizarla</p>

<%= render 'form' %>

<%= link_to 'Ver', @user %> |
<%= link_to 'Regresar', users_path %>
</div>
</div>
</div>
