
<div class="container">
<h2 style="font-weight:bold;">Métodos de Pago</h2>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Pagos al Contado</h4>
            </div>
            <div class="timeline-body">
              <p>Los centros disponibles para este método de pago son los siguientes:</p></br>
              <div class="card">
                  <div class="card-block">
                      <h4><strong>Trujillo</strong></h4>
                      <p>Jr:trujillo n° 23</p>
                  </div>
              </div>
              <div class="card">
                  <div class="card-block">
                      <p><strong>Trujillo</strong></p>
                      <p>Jr:trujillo n° 23</p>
                  </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Depósitos Bancarios</h4>
            </div>
            <div class="timeline-body">
              <p>Los depositos se pueden realizar en las siguientes cuentas:</p></br>
              <div class="card">
                  <div class="card-block">
                  <h4><strong>Banco de la nacion</strong></h4>
                  <p><strong>Titular de cuenta: </strong><span>Nombre de la persona titular</span></p>
                  <p><strong>N° Cuenta: </strong><span>424-541-895</span></p>
                  </div>
              </div>
            </div>
          </div>
        </li>
    </ul>
</div>