<div class="fh5co-contact animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-md-push-2 animate-box">
					<h2>Detalles de contacto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum fuga soluta numquam cum, dolor inventore corrupti laudantium impedit pariatur necessitatibus iure mollitia minus dolorem nulla illum corporis praesentium saepe.</p><br><br>

				</div>
				<div class="col-md-3">
					<h3>Información de cotacto</h3>
					<ul class="contact-info">
						<li><i class="glyphicon glyphicon-map-marker"></i>Alguna direccion, Piura</li>
						<li><i class="glyphicon glyphicon-earphone"></i>(#) 073-630693//920111091//938566519</li>
						<li><i class="glyphicon glyphicon-globe"></i><a href="#">alguna@pagina.com</a></li>
						
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<input class="form-control" placeholder="Nombres" type="text">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<input class="form-control" placeholder="Apellidos" type="text">
							</div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="form-group">
								<input class="form-control" placeholder="Correo" type="text">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<input class="form-control" placeholder="Telefono" type="text">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Mensaje"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input value="Enviar mensaje" class="btn btn-primary" type="submit">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>