<div class="container">
	<div class="content nfound">
	<img src="<%=asset_path 'error-img.png'%>" title="error" />
	<p><span><label>U</label>ppss.....</span>Recurso no encontrado.</p>
	<%=link_to 'Regresar al Inicio', root_path%>
	<div class="copy-right">
		<p style="font-size:15px;">Todos los derechos reservador | Realizado por <a href="#">GCode.ln</a></p>
	</div>
</div>
</div>
