// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-profile .panel-heading					 
  {
	height: 150px;
    background-size: cover;
}

.panel-profile-img{
	max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.btn-sm{
	font-size: 12px;
    padding: 5px 15px;
}

.m-b{
	margin-bottom: 15px !important;
}
.panel-title.titulo{
	font-size: 17px;
    margin-bottom: 8px;
    font-weight:bold;
}

.slick-prev, .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next {
    right: -25px;
}
.slick-prev {
    left: -25px;
}

.slick-prev:before {
   
    content: '←';
}

.slick-next:before {
     content: '→';
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgba(#000,.7);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.romper-linea{
    @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 3, $bgColor: white);

}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
}

.flex-in-md{

    @media screen and (min-width:992px) {
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-wrap:wrap;
    }
}

.card{
      position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125); 
}
.card-block{
  padding: 1.25rem;
}

.list-group-item-action:hover{
  background:rgba(#27E1CE,.3);

}

.card-de-lista{
  max-width: 200rem;
  border: 1px solid rgba(0,0,0,.125);
}

.card-flex{
  display:flex;
  flex-wrap:wrap;
  .card-flex-left{
    flex-grow: 1;
    width:calc(100% - 100px);
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;

    
  }

  .card-flex-rigth{
    width:100px;

  }

  .card-link-bottom{
    margin-top:auto;
  }

  .card-flex-imagen{
    max-width:100%;
    height:auto;
  }

  .div-normal{
    display:block;
    width:100%;
  }
}

.m-b-md{
  margin-bottom:2em;
}

.m-b-lg{
  margin-bottom:3em;
}

.row-personalizado{
  background:#fff;
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  padding:.1em 0;
  border-radius:3px;
  @media screen and (max-width:720px) {
    padding:.2em 0;
  }
}

.input-sin-outline{
  border:none !important;
  outline:none !important;
  &:hover{
    border:none !important;
    outline:none !important;
  }
}

.m-b-hasta-sm{
  @media screen and (max-width:720px) {
    margin-bottom:.4em;
  }
}