// Place all the styles related to the subsidiaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.str-sub{
font-size:13px;
}

.spn-sub{
	font-weight:ligth;
	font-size:13px;

}

.ofuscador-de-fondo{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(#000,.1);
	z-index:1000;
}